header{
  height: 30px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header a 
{
  color: white;
}
body, html {
    height: 100%;
}
.uk-image {
  background-color: #8ecae6;
  height: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.uk-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#003049;
}

.photos{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
div.p{
  text-align: center;
  size: 0cqb;
  position: absolute;
  display:grid;
}
